/* paragraph1 */
.p1 {
  font-size: 1.5em;
  line-height: 1.1;
}

/* paragraph2 */
.p2 {
  font-size: 1.5em;
  line-height: 1.1;
}

/* Header1 */
.h1 {
  font-weight: bold;
  font-size: 2.7em;
  line-height: 1.25;
}

/* Header1 */
.h2 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.3;
}

/* Button styling */
button {
  border-radius: 8px;   /* Rounds the corners of the button to make them less sharp and more modern */
  border: 1px solid transparent;    /* Initially makes border of button transparent */
  padding: 0.6em 1.2em;   /* Adds padding inside button, makes it larger and easier to click */
  font-size: 1em;   /* Sets button font size */
  font-weight: 500;
  font-family: inherit;   /* Sets button font */
  background-color: #1a1a1a;    /* Background colour of button */
  cursor: pointer;    /* Changes cursor to a pointer when hovering button */
  transition: border-color 0.25s;   /* Sets transition of border colour when hovered */
}
button:hover {
  border-color: #646cff;    /* Border colour when hovered */
  outline: 1px solid #646cff;  /* Add an outline effect */
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;   /* Outline when button is clicked */
}